.block {
    height: 32px;
    border: 2px solid #7c96b1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__input {
        height: 32px;
        border: transparent;
        width: 80%;
    }
    &__drop {
        background-color: #dae6f2;
        width: 24px;
        height: 28.3px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
